ace_tools==0.0
anyio @ file:///home/conda/feedstock_root/build_artifacts/anyio_1736174388474/work
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1733250440834/work
backports.tarfile @ file:///home/conda/feedstock_root/build_artifacts/backports.tarfile_1733325779670/work
Brotli @ file:///D:/bld/brotli-split_1725267609074/work
build @ file:///home/conda/feedstock_root/build_artifacts/python-build_1733230610871/work
CacheControl @ file:///home/conda/feedstock_root/build_artifacts/cachecontrol-split_1736337859595/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1739515848642/work/certifi
cffi @ file:///D:/bld/cffi_1725560718594/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1735929714516/work
cleo @ file:///home/conda/feedstock_root/build_artifacts/cleo_1734693717670/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1733502965406/work
contourpy @ file:///D:/bld/contourpy_1731428315575/work
crashtest @ file:///home/conda/feedstock_root/build_artifacts/crashtest_1733564795535/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1733332471406/work
debugpy @ file:///D:/bld/debugpy_1741148398768/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1740384970518/work
distlib @ file:///home/conda/feedstock_root/build_artifacts/distlib_1733238395481/work
dulwich @ file:///D:/bld/dulwich_1740965097385/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1733208806608/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1733569351617/work
fastjsonschema @ file:///home/conda/feedstock_root/build_artifacts/python-fastjsonschema_1733235979760/work/dist
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1737517818712/work
findpython @ file:///home/conda/feedstock_root/build_artifacts/findpython_1741582825328/work
fonttools @ file:///D:/bld/fonttools_1738940289502/work
h11 @ file:///home/conda/feedstock_root/build_artifacts/h11_1733327467879/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1738578511449/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
httpcore @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_httpcore_1731707562/work
httpx @ file:///home/conda/feedstock_root/build_artifacts/httpx_1733663348460/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1733211830134/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1737420181517/work
importlib_resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1736252299705/work
installer @ file:///home/conda/feedstock_root/build_artifacts/python-installer_1733237321392/work
ipykernel @ file:///D:/bld/ipykernel_1719845595208/work
ipython @ file:///D:/bld/bld/rattler-build_ipython_1741457145/work
ipython_pygments_lexers @ file:///home/conda/feedstock_root/build_artifacts/ipython_pygments_lexers_1737123620466/work
jaraco.classes @ file:///home/conda/feedstock_root/build_artifacts/jaraco.classes_1733325873251/work
jaraco.context @ file:///home/conda/feedstock_root/build_artifacts/jaraco.context_1733382590553/work
jaraco.functools @ file:///home/conda/feedstock_root/build_artifacts/jaraco.functools_1733746366381/work
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1733300866624/work
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1733440914442/work
jupyter_core @ file:///D:/bld/jupyter_core_1727163532151/work
keyring @ file:///D:/bld/keyring_1735210213173/work
kiwisolver @ file:///C:/b/abs_faf90xet7a/croot/kiwisolver_1737040915779/work
matplotlib==3.10.1
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1733416936468/work
more-itertools @ file:///home/conda/feedstock_root/build_artifacts/more-itertools_1736883817510/work
msgpack @ file:///D:/bld/msgpack-python_1725975181687/work
munkres==1.1.4
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1733325553580/work
numpy @ file:///D:/bld/numpy_1739425584338/work/dist/numpy-2.2.3-cp313-cp313-win_amd64.whl#sha256=d33e937ed2249dc8903e4afd8898b785eee9cde7e2f517ff584cbd7390f83579
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1733203243479/work
pandas @ file:///D:/bld/pandas_1726878597308/work
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1733271261340/work
patsy @ file:///home/conda/feedstock_root/build_artifacts/patsy_1733792384640/work
pbs-installer @ file:///home/conda/feedstock_root/build_artifacts/pbs-installer_1739470714830/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1733327343728/work
pillow @ file:///D:/bld/pillow_1735929727881/work
pkginfo @ file:///home/conda/feedstock_root/build_artifacts/pkginfo_1739984581450/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1733232627818/work
poetry @ file:///D:/bld/poetry_1739782412658/work
poetry-core @ file:///home/conda/feedstock_root/build_artifacts/poetry-core_1739778911743/work
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1737453357274/work
psutil @ file:///D:/bld/psutil_1740663147070/work
pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1733569405015/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1736243443484/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1735698276679/work
pyproject_hooks @ file:///home/conda/feedstock_root/build_artifacts/pyproject_hooks_1733710025763/work
PySide6==6.8.2
PySocks @ file:///D:/bld/pysocks_1733217287171/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1733215673016/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1706886791323/work
pywin32==307
pywin32-ctypes @ file:///D:/bld/pywin32-ctypes_1727282205026/work
pyzmq @ file:///D:/bld/pyzmq_1738270971724/work
RapidFuzz @ file:///D:/bld/rapidfuzz_1740954212433/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1733217035951/work
requests-toolbelt @ file:///home/conda/feedstock_root/build_artifacts/requests-toolbelt_1733734787568/work
scipy @ file:///C:/bld/scipy-split_1739790791396/work/dist/scipy-1.15.2-cp313-cp313-win_amd64.whl#sha256=7881621bfd838a21b8396c8b48e95879e329eabe3e8bfb6aa94a3132a6eb6347
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1733730015268/work
setuptools==75.8.2
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1733300899265/work
shiboken6==6.8.2
six @ file:///home/conda/feedstock_root/build_artifacts/six_1733380938961/work
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1733244044561/work
stack_data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1733569443808/work
statsmodels @ file:///D:/bld/statsmodels_1727986823401/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1733256695513/work
tomlkit @ file:///home/conda/feedstock_root/build_artifacts/tomlkit_1733230743009/work
tornado @ file:///D:/bld/tornado_1732615920207/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1733367359838/work
trove-classifiers @ file:///home/conda/feedstock_root/build_artifacts/trove-classifiers_1741073402154/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1733188668063/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1737541069190/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1734859416348/work
virtualenv @ file:///home/conda/feedstock_root/build_artifacts/virtualenv_1741337798015/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1733231326287/work
win_inet_pton @ file:///D:/bld/win_inet_pton_1733130564612/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1732827521216/work
zstandard==0.23.0
